header{
    background-color: #fff;
    box-shadow: 0 .2rem .6rem rgba(0,0,0,.0793474);
    display: flex;
    justify-content: space-between;
}
button {
    background-color: #fff;
    color: #0074c7;
}
figure{
    height: 150px;
    width: 300px;
}
img{
    height: 100%;
    width: 100%;
}
.nav-link:hover {
    border-bottom: 1.5px solid black;
}
@media screen and (min-width: 992px) {
    button {
        visibility: hidden;
    }
}