<footer>
    <div class="contactsBox">
        <div>
            <figure class="logo">
                <img src="LogoBlanc.png" alt="logo trouve_ton_artisan">
            </figure>
        </div>
        <div class="contacts">
            <div class="contactBox">Conseil régional<br>Auvergne-Rhône-Alpes</div>
            <div class="contactBox">
                <h2 class="ville">Lyon</h2>
                <div class="coordonnees">101 cours Charlemagne<br>CS 20033<br>69269 LYON CEDEX 02<br>France</div>
                <div class="coordonnees">+33 (0)4 26 73 40 00</div>
            </div>
        </div>
    </div>
    <div class="mentions">
        <ul>
            <li><a routerLink="/mentionsLegales">Mentions légales</a></li>
            <li><a routerLink="/donneesPersonnelles">Données personnelles</a></li>
            <li><a routerLink="/accessibilite">Accessibilité</a></li>
            <li><a routerLink="/cookies">Gestion des cookies</a></li>
        </ul>
    </div>
    <div class="social">
        <figure class="logoSocial"><img src="facebook.png" alt="logo Facebook"></figure>
        <figure class="logoSocial"><img src="linkedin.png" alt="logo Linkedin"></figure>
        <figure class="logoSocial"><img src="youtube.png" alt="logo Youtube"></figure>
        <figure class="logoSocial"><img src="instagram.png" alt="logo Instagram"></figure>
        <figure class="logoSocial"><img src="twitter.png" alt="logo Twitter"></figure>
    </div>
</footer>
