
.artisan-card {
    margin: 20px auto;
    padding: 10px 30px;    
}

@media screen and (min-width: 768px) {
    .artisan-card {
        margin: 20px auto;
        padding: 10px 30px;        
    }
}