.artisan-card {
    margin: 20px auto;
    padding: 10px 30px;
    background-color: white;
}
h3 {
    margin-top: 5px;
}
form {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.input{
    display: flex;
    flex-direction: column;
}
input, textarea {
    margin-top: 5px;
    width: 100%;
}
textarea {
    height: 200px;
}
.submit {
    background-color: #0074c7;
    border-radius: 50px;
    color: #f1f8fc;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    width: 104px;
    height: 31px;
    text-align: center;
}
.submit:hover {
    background-color: #00497c;
    border-radius: 50px;
    color: #f1f8fc;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
}
@media screen and (min-width: 992px) {
    .input {
        display: flex;
        flex-direction: row;
    }
}