/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
* {
    color: #384050
}

h2,
h3 {
    color: #00497c;
}
button {
    background-color: #0074c7;
    border-radius: 50px;
    color: #f1f8fc;
}
button:hover {
    background-color: #00497c;
    border-radius: 50px;
    color: #f1f8fc;
}