/* Importation de Bootstrap*/
@import 'bootstrap/scss/bootstrap';
@font-face {
    font-family: graphik;
    src: url(../src/app/polices/Graphik-Bold-Trial.otf);
    src: url(../src/app/polices/Graphik-Bold-Trial.woff);
    src: url(../src/app/polices/Graphik-Regular-Trial.otf);
    src: url(../src/app/polices/Graphik-Regular-Trial.woff);
}
* {
    color: #384050;
    text-align:justify;
    font-family: graphik, sans-serif;
}
h2, h3 {
    color: #00497c;
}
body {
    background-color: #f1f8fc;
}
main {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
button {
    background-color: #0074c7;
    border-radius: 50px;
    color: #f1f8fc;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
}
button:hover {
    background-color: #00497c;
    border-radius: 50px;
    color: #f1f8fc;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
}